@use "colors";
@use "mixin";

.btn{
    @include mixin.round_btn_mixin (colors.$light-green, colors.$white, normal)
  }
  .animated-btn{
    animation: playShadow 1.6s ease-out .5s infinite;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
  }
  @keyframes playShadow {
    0% {
      box-shadow: 0 0 0 0px rgba(colors.$light-green, 0.3), 0 0 0 0px rgba(colors.$dark-green, 0.2);
      //  transform: scale(1);
    }
    10% {
      box-shadow: 0 0 0 0px rgba(colors.$light-green, 0.3), 0 0 0 0px rgba(colors.$dark-green, 0.2);
    }
    35% {
      //  transform: scale(1.08);
    }
    76% {
      //  transform: scale(0.96);
    }
    100% {
      box-shadow: 0 0 0 16px rgba(colors.$dark-green, 0), 0 0 0 27px rgba(colors.$dark-green, 0);
      //  transform: scale(1);
    }
  }
