// colors - if new color added please add in array
$red: #ef4a4f;
$white: #ffffff;
$black: #000000;
$light-green: #a8cf45;
$dark-green: #4baf50;
$white-green: #f9fcf2;
$grey: #888888;
$dark-grey: #767676;
$light-grey: #cbcbcb;

// array of colors
$colors:
  "red" #ef4a4f,
  "white" #ffffff,
  "black" #000000,
  "light-green" #a8cf45,
  "dark-green" #4baf50,
  "white-green" #f9fcf2,
  "grey" #888888,
  "dark-grey" #767676,
  "light-grey" #cbcbcb;

// text color classes
@each $color_name, $value in $colors {
  .text-#{$color_name} {
    color: $value !important;
  }
}

// bg color classes
@each $color_name, $value in $colors {
  .bg-#{$color_name} {
    background-color: $value !important;
  }
}
