@use "colors";
@use "mixin";
@use "variables";

.form-group{
    position: relative;
    &.breadcum-search{
      width: 50%;
      border-radius: variables.$border-radius-normal;
      padding: 2px 10px;
      background-color: colors.$white;
      @include mixin.mediaResponsive (lg) {
        width: 75%;
      }
      @include mixin.mediaResponsive (md) {
        width: 100%;
      }
      .form-control{
        padding-left: 30px;
        border-bottom: 0 !important;
      }
    }
  }

  textarea{
    height: 100px;
  }

  input,
  textarea,
  .form-control{
      // input box
      border: none;
      border-bottom: 1px solid colors.$light-grey;
      border-radius: 0;
      transition: all .3s ease;
      padding-left: 0;
      padding-right: 0;
      &:hover{
        border-color: rgba($color: colors.$red, $alpha: .5);
      }
      &:focus{
        box-shadow: none;
        border-color: colors.$red;
      }

      // floating labels
      &:placeholder-shown{
          &+ .form-control-placeholder{
              top: 10px;
              color: colors.$dark-grey;
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 0;
              span.text-red{
                  position: absolute;
                  top: -5px;
                  left: auto;
              }
          }
      }
      &+ .form-control-placeholder,
      &:focus + .form-control-placeholder{
          position: absolute;
          transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          top:-12px;
          font-size: 14px;
          margin-left: 0;
          color: colors.$red;
          font-weight: 400;
          width: initial;
          padding-right: 10px;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          span.text-red{
              position: absolute;
              top: -5px;
              left: auto;
          }
      }
  }
