@use "colors";
@use "mixin";

body {
    font-family: 'Lexend';
    background-color: colors.$white;
    touch-action: manipulation;
    letter-spacing: normal;
    line-height: 1.5;
  }

  body,
  a,
  p,
  button,
  h1,
  h2,
  h3,
  h5,
  h4,
  h6,
  p {
    font-family: 'Lexend';
    line-height: 1.5;
  }

  .line-height-1 {
    line-height: 1;
  }

  a{
    text-decoration: none;
    transition: all .3s ease;
    color: colors.$black;
    &:hover{
      color: colors.$red;
    }
  }

  .font-bold {
    font-weight: 700;
  }
  .font-weight-semi-bold{
    font-weight: 600;
  }
  .font-weight-medium {
    font-weight: 500;
  }

  p,
  a {
    font-size: 14px;
    line-height: 2;
    color: colors.$black;
    @include mixin.mediaResponsive(sm) {
      font-size: 12px;
    }
  }

  .font-extra-small {
    font-size: 12px;
  }
  .font-medium {
    font-size: 16px;
    @include mixin.mediaResponsive(lg) {
      font-size: 14px;
    }
    @include mixin.mediaResponsive(sm) {
      font-size: 12px;
    }
  }
  .font-normal {
    font-size: 18px;
    @include mixin.mediaResponsive(lg) {
      font-size: 16px;
    }
    @include mixin.mediaResponsive(sm) {
      font-size: 14px;
    }
  }
  .font-extra-large{
    font-size: 60px;
    @include mixin.mediaResponsive(lg) {
      font-size: 40px;
    }
    @include mixin.mediaResponsive(md) {
      font-size: 30px;
    }
  }
